.navbar-default{

    background: #c1a892;
    border-color:transparent;
}

.navbar-default .navbar-brand{
    color:white;
       
}

.navbar-default .navbar-nav li a{
    color:white;
   
}

.navbar-fixed-top{
    color:white;
}

.imagenes{
 width:100%;

}
.badge-t {
 
 background-color: #c1a892;
 border-radius: 25px;
 border: 2px solid white;
 

}

.navbar-letras a{
    color:#86898B;
}

.imagenm{

    width:14%;
   
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.side1 {
  background-color: #C3AA94;
 height: 100%;
  width: 100%;
  color: #FFFFFF;
  
  padding-top: 70px;
}


.fondo{

background: url(../img/pdos.png);
position: inherit;
height: 760px;
width:1300px;


}

.side2 {
  background-color: #D8D8D8; 
  height: 100%;
  width: 100%;
  color: #554F49;
  text-align: center;
  
}

.side3 {
  background-color: #478e65;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #F1F1F1;
  
}

.side4 {
  background-color: #ebd9ab;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #554F49;
}

.side5 {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  color: #554F49;
  text-align: center;
}

.side5 .order-con {
  margin-top: 50px;
}
.side5 .order-con span {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #76ca68;
  color: #76ca68;
}
.side5 .order-con > div {
  margin-top: 15px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
}